#container {
    display: grid;
    /*grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);*/
    color:blue;
    height: 400px;
    width: 400px;
}

.box {
    background-color: red;
    color:orange;
    transition: 20s;
}

.box:hover {
    background-color: orange;
    transition: 0s; 
}

